PassengerEnabled On
PassengerAppRoot /home/greatjou/patanyumba.greatjourns.com
PassengerPython /home/greatjou/virtualenv/patanyumba.greatjourns.com/3.12/bin/python
PassengerAppType wsgi
PassengerStartupFile passenger_wsgi.py
